 <launch>

    <!-- Bring up the joystick for control -->
    <!--node pkg="si_utils" type="timed_roslaunch"
        args="1 vector_remote_teleop vector_remote_teleop.launch"
        name="joy_bringup" output="screen" unless="$(optenv VECTOR_HAS_ONBOARD_JOY false)"/-->
        
    <!-- Bring up assisted teleop (runs by default on the robot now)-->
    <!--node pkg="si_utils" type="timed_roslaunch"
        args="2 vector_demos assisted_teleop.launch local:=false"
        name="mapping_bringup" output="screen"/--> 
    
    <!-- Bring up rviz -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="5 vector_viz view_robot.launch function:=assisted_teleop"
        name="viz_bringup" output="screen"/>

</launch>
