 <launch>
 	
    <!-- Bring up the joystick for control -->
    <!--node pkg="si_utils" type="timed_roslaunch"
        args="1 vector_remote_teleop vector_remote_teleop.launch"
        name="joy_bringup" output="screen" unless="$(optenv VECTOR_HAS_ONBOARD_JOY false)"/-->
        
    <!-- Bring up the demo -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="5 vector_viz view_robot.launch function:=teleop"
        name="viz_bringup" output="screen"/>

</launch>
