 <launch>
 
    <arg name="js_type" default="$(optenv VECTOR_JOY_TYPE ds4)"/>
    
    <!-- DS4 Driver -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="1 ds4drv ds4drv.launch"
        name="ds4drv_bringup" output="screen" if="$(eval js_type == 'ds4')"/>

    <!-- Bring up the platform in sim with all models, controllers, sensors estimates -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="3 vector_gazebo vector_test_zone.launch"
        name="sim_bringup" output="screen"/>
        
    <!-- Bring up the joystick for control -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="7 vector_demos sim_basic_teleop.xml"
        name="teleop_bringup" output="screen"/>
        
    <!-- Bring up mapping -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="15 vector_demos assisted_teleop.launch sim:=true"
        name="mapping_bringup" output="screen"/> 
    
    <!-- Bring up rviz -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="18 vector_viz view_robot.launch function:=assisted_teleop"
        name="viz_bringup" output="screen"/>

        <!-- If 3d, start SAC segmentation -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="21 floor_removal sac.launch"
        name="floor_removal" output="screen" if="$(optenv VECTOR_HAS_VLP16 false)"/>

</launch>
